body{
    margin: 0px;
    font-family: "Lato", sans-serif;
    src: url(Lato/Lato-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
img{
    width: 450px;
    height: 150px;
}
.navbar ul{
    list-style-type: none;
    background-color: mediumseagreen;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    width: 80px;
}
.navbar a:hover{
    background-color:rgb(58, 168, 108)
}
.navbar li{
    float:left;
}